In [1]:
#Цифровые кафедры
#Итоговый проект
#Рекламный анализ
#by Khairutdinov Arthur

In [2]:
import requests
import pandas as pd
import datetime
import ast

In [24]:
access_token = ''
group_name = 'hynta_atmta' #id или короткое имя (которое в адресной строке) паблика
score = 0 #0-100 0-совсем не подходит 100 идеально подходит

In [21]:
#Документация по groups.getById     https://dev.vk.com/method/groups.getById
#Документация по полям groups       https://dev.vk.com/reference/objects/group
group = requests.get('https://api.vk.com/method/groups.getById?'+
                       'group_id='+group_name+'&'+
                       'v=5.131&'+
                        'fields=activity,age_limits,ban_info,members_count,trending,verified,wall&'+
                       'access_token='+access_token).json()['response'][0]
print(group)

{'id': 34223764, 'members_count': 55661, 'activity': 'Юморъ', 'wall': 2, 'trending': 0, 'age_limits': 1, 'name': 'Всякая Атмта', 'screen_name': 'hynta_atmta', 'is_closed': 0, 'type': 'page', 'verified': 0, 'photo_50': 'https://sun1-92.userapi.com/s/v1/ig2/VFE3gWc5XYyS8bMuQ1nAgFbAKJrJO5VYd7zYcCbcZICXyMRXNFCxkdsJjU6ViyjqHeUp9kcMFuP0QA7nTP0QnHSe.jpg?size=50x50&quality=95&crop=294,237,1556,1556&ava=1', 'photo_100': 'https://sun1-92.userapi.com/s/v1/ig2/9gOtqRfn4TYaeIAIAhIIaE98pKnFos30kiXO3tiPDzumz130wWDLrXPZ839fY7kFWVG7o2Aa4zRou2BQ6upcphdn.jpg?size=100x100&quality=95&crop=294,237,1556,1556&ava=1', 'photo_200': 'https://sun1-92.userapi.com/s/v1/ig2/Umd-UigZ-nxJzx3zHICHduHVUo5uDGko2D3znDwNiqZThqx9kK46NTRdOD0pUcetvyTb6gITwf0DzoIyIYdj1O0h.jpg?size=200x200&quality=95&crop=294,237,1556,1556&ava=1'}

In [28]:
is_closed = group['is_closed'] #0 — открытое; 1 — закрытое; 2 — частное. | очевидно нужно 0 
activity = group['activity'] #Строка тематики паблика. |куча разных, выбирать под тип рекламы (реклама магазина техники - тематика "техника")
age_limits = group['age_limits'] #1 — нет; 2 — 16+; 3 — 18+ | предпочтительно 1
members_count = group['members_count'] #число подписчиков | чем больше - чем лучше
trending = group['trending'] #Информация о том, есть ли у сообщества «огонёк». | больше охват если есть 
verified = group['verified'] #1 — является; 0 — не является. | больше охват 
wall = group['wall']#0 — выключена;1 — открытая;2 — ограниченная;3 — закрытая. | если 1 то много мусора но можно и самому бесплатно оставлять рекламу
print(is_closed,activity,age_limits,members_count,trending,verified,wall)

0 Юморъ 1 55661 0 0 2

In [ ]:
#Документация по groups.getMembers  https://dev.vk.com/method/groups.getMembers
next_from = '0'
mass = []
count = 0
while next_from != '':
  print('Обработка пользователей от ' + str(count*1000)+ ' до ' + str((count+1)*1000-1))
  group_members = requests.get('https://api.vk.com/method/groups.getMembers?'+
                       'group_id='+group_name+'&'+
                       'v=5.131&'+
                       'fields=deactivated&'
                       'start_from=' + next_from + 
                       '&access_token='+access_token).json()['response']
  mass.extend(group_members['items'])
  next_from = group_members['next_from']
  count = count + 1

In [217]:
#документация по users.get     https://dev.vk.com/method/users.get
#документация по полям users   https://dev.vk.com/reference/objects/user
next_from = '0'
user_info = []
count = 0
while count <= len(mass)//1000 + 1:
  print('Обработка пользователей от ' + str(count*1000)+ ' до ' + str((count+1)*1000-1))
  group_members = requests.get('https://api.vk.com/method/users.get?'+
                       'user_ids='+str(mass[count*1000:(count+1)*1000-1])+'&'+
                       'v=5.131&'+
                       'fields=bdate,city,followers_count,last_seen,relation,personal,sex,trending,verified&'
                       '&access_token='+access_token).json()['response']
  user_info.extend(group_members)
  count = count + 1

Обработка пользователей от 0 до 999
Обработка пользователей от 1000 до 1999
Обработка пользователей от 2000 до 2999
Обработка пользователей от 3000 до 3999
Обработка пользователей от 4000 до 4999
Обработка пользователей от 5000 до 5999
Обработка пользователей от 6000 до 6999
Обработка пользователей от 7000 до 7999
Обработка пользователей от 8000 до 8999
Обработка пользователей от 9000 до 9999
Обработка пользователей от 10000 до 10999
Обработка пользователей от 11000 до 11999
Обработка пользователей от 12000 до 12999
Обработка пользователей от 13000 до 13999
Обработка пользователей от 14000 до 14999
Обработка пользователей от 15000 до 15999
Обработка пользователей от 16000 до 16999
Обработка пользователей от 17000 до 17999
Обработка пользователей от 18000 до 18999
Обработка пользователей от 19000 до 19999
Обработка пользователей от 20000 до 20999
Обработка пользователей от 21000 до 21999
Обработка пользователей от 22000 до 22999
Обработка пользователей от 23000 до 23999
Обработка пользователей от 24000 до 24999
Обработка пользователей от 25000 до 25999
Обработка пользователей от 26000 до 26999
Обработка пользователей от 27000 до 27999
Обработка пользователей от 28000 до 28999
Обработка пользователей от 29000 до 29999
Обработка пользователей от 30000 до 30999
Обработка пользователей от 31000 до 31999
Обработка пользователей от 32000 до 32999
Обработка пользователей от 33000 до 33999
Обработка пользователей от 34000 до 34999
Обработка пользователей от 35000 до 35999
Обработка пользователей от 36000 до 36999
Обработка пользователей от 37000 до 37999
Обработка пользователей от 38000 до 38999
Обработка пользователей от 39000 до 39999
Обработка пользователей от 40000 до 40999
Обработка пользователей от 41000 до 41999
Обработка пользователей от 42000 до 42999
Обработка пользователей от 43000 до 43999
Обработка пользователей от 44000 до 44999
Обработка пользователей от 45000 до 45999
Обработка пользователей от 46000 до 46999
Обработка пользователей от 47000 до 47999
Обработка пользователей от 48000 до 48999
Обработка пользователей от 49000 до 49999
Обработка пользователей от 50000 до 50999
Обработка пользователей от 51000 до 51999
Обработка пользователей от 52000 до 52999
Обработка пользователей от 53000 до 53999
Обработка пользователей от 54000 до 54999
Обработка пользователей от 55000 до 55999
Обработка пользователей от 56000 до 56999

In [219]:
df_user_info = pd.DataFrame.from_records(user_info)

In [ ]:
df_user_info_deleted_closed_profiles = df_user_info.drop(df_user_info[df_user_info.is_closed == True].index)
df_user_info_deleted_closed_profiles = df_user_info.drop(['first_name','last_name','can_access_closed','is_closed','relation_partner'],axis=1)

In [319]:
df_user_info_deleted_closed_profiles['bdate'] = df_user_info_deleted_closed_profiles.apply(lambda x:
                                                                                           int(str(x['bdate']).split('.')[2]) if len(str(x['bdate'])) > 5 else None,
                                                                                           axis=1)
df_user_info_deleted_closed_profiles['city'] = df_user_info_deleted_closed_profiles.apply(lambda x:
                                                                                           str(str(x['city']).split('title')[1].split('\'')[2]) if type(x['city']) != float else None,
                                                                                           axis=1)
df_user_info_deleted_closed_profiles['last_seen'] = df_user_info_deleted_closed_profiles.apply(lambda x: 
                                                                                            datetime.datetime.fromtimestamp(int(str("{'platform': 4, 'time': 1685029760}").split('time')[1][3:-1])),
                                                                                              axis=1)
df_user_info_deleted_closed_profiles['alcohol'] = df_user_info_deleted_closed_profiles.apply(lambda x: 
                                                                                            (ast.literal_eval(str(x['personal']))).get('alcohol') if len(str(x['personal'])) > 5 else None,
                                                                                              axis=1)
df_user_info_deleted_closed_profiles['life_main'] = df_user_info_deleted_closed_profiles.apply(lambda x: 
                                                                                            (ast.literal_eval(str(x['personal']))).get('life_main') if len(str(x['personal'])) > 5 else None,
                                                                                              axis=1)
df_user_info_deleted_closed_profiles['people_main'] = df_user_info_deleted_closed_profiles.apply(lambda x: 
                                                                                            (ast.literal_eval(str(x['personal']))).get('people_main') if len(str(x['personal'])) > 5 else None,
                                                                                              axis=1)
df_user_info_deleted_closed_profiles['political'] = df_user_info_deleted_closed_profiles.apply(lambda x: 
                                                                                            (ast.literal_eval(str(x['personal']))).get('political') if len(str(x['personal'])) > 5 else None,
                                                                                              axis=1)
df_user_info_deleted_closed_profiles['smoking'] = df_user_info_deleted_closed_profiles.apply(lambda x: 
                                                                                            (ast.literal_eval(str(x['personal']))).get('smoking') if len(str(x['personal'])) > 5 else None,
                                                                                              axis=1)
df_user_info_deleted_closed_profiles['religion'] = df_user_info_deleted_closed_profiles.apply(lambda x: 
                                                                                            (ast.literal_eval(str(x['personal']))).get('religion') if len(str(x['personal'])) > 5 else None,
                                                                                              axis=1)
df_user_info_deleted_closed_profiles = df_user_info_deleted_closed_profiles.drop(['personal'],axis=1)

In [321]:
df_user_info_deleted_closed_profiles.head(20)

,id,bdate,city,last_seen,followers_count,sex,verified,trending,relation,deactivated,alcohol,life_main,people_main,political,smoking,religion
0,84077,1988.0,Москва,2023-05-25 15:49:20,472.0,2,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
1,103157,1988.0,Санктъ-Петербургъ,2023-05-25 15:49:20,900.0,2,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
2,145436,NaN,Санктъ-Петербургъ,2023-05-25 15:49:20,168.0,2,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
3,199419,NaN,Москва,2023-05-25 15:49:20,8472.0,2,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
4,200226,NaN,None,2023-05-25 15:49:20,2627.0,2,0.0,0.0,7.0,NaN,0.0,2.0,4.0,8.0,0.0,Никто не обязан сообщать о своём отношении к р...
5,218066,1990.0,Санктъ-Петербургъ,2023-05-25 15:49:20,NaN,2,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
6,226229,1991.0,Москва,2023-05-25 15:49:20,4100.0,1,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
7,300415,NaN,None,2023-05-25 15:49:20,27.0,2,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
8,312868,1990.0,Санктъ-Петербургъ,2023-05-25 15:49:20,300.0,2,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
9,331343,1987.0,Москва,2023-05-25 15:49:20,995.0,1,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
10,341339,NaN,Санктъ-Петербургъ,2023-05-25 15:49:20,461.0,2,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
11,359375,NaN,Санктъ-Петербургъ,2023-05-25 15:49:20,546.0,2,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
12,402945,1986.0,Санктъ-Петербургъ,2023-05-25 15:49:20,NaN,2,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
13,409901,NaN,Москва,2023-05-25 15:49:20,NaN,1,NaN,NaN,NaN,banned,NaN,NaN,NaN,NaN,NaN,None
14,423545,NaN,None,2023-05-25 15:49:20,2898.0,2,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
15,450296,1991.0,Москва,2023-05-25 15:49:20,1677.0,1,0.0,0.0,4.0,NaN,0.0,0.0,6.0,7.0,4.0,None
16,459494,1989.0,None,2023-05-25 15:49:20,278.0,2,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
17,463867,NaN,Москва,2023-05-25 15:49:20,1177.0,2,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
18,485618,1987.0,Москва,2023-05-25 15:49:20,1247.0,1,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
19,493951,NaN,Санктъ-Петербургъ,2023-05-25 15:49:20,NaN,2,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None